<h1>All Complaints associated with Worker [{{firstname}}]</h1> 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Heading Column -->
    <ng-container matColumnDef="heading">
      <th mat-header-cell *matHeaderCellDef> Heading</th>
      <td mat-cell *matCellDef="let element"> {{element.heading}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Addressline 1 Column -->
    <ng-container matColumnDef="addLine1">
        <th mat-header-cell *matHeaderCellDef> AddressLine 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.addressDetail.addLine1}} </td>
      </ng-container>
  
    <!-- district Column -->
    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef> District </th>
      <td mat-cell *matCellDef="let element"> {{element.addressDetail.district}} </td>
    </ng-container>
  
    <!-- state Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.addressDetail.state}} </td>
    </ng-container>

    <!-- Pin Column -->
    <ng-container matColumnDef="pin">
        <th mat-header-cell *matHeaderCellDef> pincode </th>
        <td mat-cell *matCellDef="let element"> {{element.addressDetail.pin}} </td>
      </ng-container>

    <!-- progressLevel Column -->
    <ng-container matColumnDef="progressLevel">
        <th mat-header-cell *matHeaderCellDef> progressLevel </th>
        <td mat-cell *matCellDef="let element"> {{element.progressLevel}} </td>
      </ng-container>

      <!-- progressLevel Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="updateProgress(element.id)" mat-raised-button color="primary">
                MARK AS DONE
            </button>
        </td>
      </ng-container>

     
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  